body {
	font-family: 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
}
div, p, a, form, button{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul, li{
	box-sizing: border-box;
}

h2{
	font-weight: 700;
	margin: 0;
	font-size: 32px;	
}
h3{
	font-weight: 700;
	margin: 0;
	font-size: 20px;
}
h4{
	font-weight: 400;
	margin: 0;
	font-size: 17px;
}
h5{
	font-weight: 400;	
	margin: 0;	
}

.block_11{
	text-align: center;
	background-color: #fff;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.margin{
display: contents;
}
.block_11 .head a{
	text-decoration: none;
    -webkit-background-clip: text;
    color: #ff5790;
}
.block_11 .head {
	margin-top: 209.3px;
	margin-bottom: 106.1px;	
	width: 700px;
	font-size: 32px;
	color: #444444;
	line-height: 42px;
}
.block_11 .mask{
	display: contents;
}
.block_11 .lines{
	display: flex;
	align-items:center;
	text-align: center;
}
.block_11 .lines .line{
	height: 365px;
    border: solid 0.5px #ebebeb;
    margin: 0px 182px;
}
.block_11 .info1{
	margin-top: -340px;
    display: flex;
    text-align: left;
}
.block_11 .info1 h3{
	max-width: 260px;
	font-size: 19px;
	line-height: 29px;
	color: #444;
	margin:0 50px;
}
.block_11 .next{
	display: flex;
	align-items:center;
	text-align: center;
}
.block_11 .next img{
	width: 75px;
    height: 76px;
    margin: -615px 145px 0;
}
.block_11 .info2{
	margin-top: 25px;
    display: flex;
    text-align: left;
    height: 200px;
}
.block_11 .info2 h4{
	max-width: 260px;
	font-size: 17px;
	line-height: 25px;
	color: #444;
	margin:0 50px;
	margin-bottom: 230px;
}
.block_11 .conteiner{
	display: none;
}
.block_11 .note{
	display: flex;
	align-items:center;
	text-align: center;
	background-color: #f6f6f6;
	width: 700px;
	height: 150px;
	margin-top: 80px;
	margin-bottom: 200px;
}
.block_11 .note h2{
	max-width:600px;
	font-size: 17px;
	line-height: 25px;
	margin:0 auto;
}
.block_11 .black{
	display: flex;
	flex-direction: column;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: auto;
	background-color: #000000;
}
.block_11 .black img.icon{
	width: 150px;
	margin-top: -69px;
}
.block_11 .black h4{
	max-width: 86.7%;
	font-size: 17px;
	line-height: 25px;
	color: #fff;
	margin-top: 43px;
}
.block_11 .black button{
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	max-width: 467px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 2px;
}
.block_11 .black button a{
	font-family: 'Exo 2', sans-serif;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
    font-weight: 700;
    line-height: 42px;
    font-size: 32px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.block_11 .black button img.line{
	margin-top: 6px;
    width: 455px;
    height: 4px;
}

.block_12{
 	text-align: center;
 	background: #fff url("../img/block_12/7@2x.png" ) no-repeat center top / cover;
	color: #000;
	border:none;
	outline: none;
	height: 1090px;
	-webkit-background-size: cover;
	background-size: cover;
}
.block_12 .numb2 a{
	text-decoration: none;
    background-image: linear-gradient(to left, #ff3b83, #ffbc1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #444;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
}
.block_12 h2.numb1 {
	font-size: 32px;
	color: #fff;
	line-height: 42px;
	margin-top: 289px;
	margin-bottom: 23.5px;
}
.block_12 .content{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 410px;
	margin-left: 16%;
	right: auto;
}
.block_12 .tel{
	font-weight: 400;
	font-size: 14px;
	margin-top: 11.6px;
	line-height: 25px;
	color: #fff;
	opacity: 0.8;
}
.block_12 .conteiner{
	width: 90%;
	max-width: 980px;
	margin: 0 auto;
	margin-top: 490px;
}
.block_12 .space{
	height: 22.5px;
	width: 100%;
}
.block_12 .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.block_12 .logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.block_12 .logo span{
	width: 100%;
	font-size: 15px;
	max-width: 280px;
	line-height: 22px;
	margin-left: 39px;
	text-align: left;
	color: #fff;
}
.block_12 .creazard{
   width: 126px;
   height: 55px;
   object-fit: contain;
   padding-left: 0;
}
.block_12 .key{
   width: 19px;
   height: 8px;
   object-fit: contain;
   margin-left: 5px;
}
.block_12 .manual{
	text-align: right;
	margin-right: 25px;
}
.block_12 .manual h4{
	text-decoration: none;
	text-align: right;
	color: #fff;
	font-size: 15px;
	line-height: 22px;
}
.block_12 .contacts{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.block_12 .manual article{
	margin-top: 5px;	
	opacity: 0.65;
	font-size: 15px;
}
.block_12 .firstbtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    padding:0;
}
.block_12 .firstbtn.inst{
	margin:0 19px;
}
.block_12 .line{
    border-bottom: 1px solid;
	color: #fff;
	opacity: 0.3;
	width: 100%;
	max-width: 5000px;
	margin-top: 14.5px;
}
.block_12 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    margin-top: 17px;
    max-width: 926px;
    width: 90%;
}
.block_12 .navbar li{
	font-weight: 700;
	line-height: 22px;
 	font-size: 	15px;
}
.block_12 .navbar li.active a {
	background-repeat:no-repeat;
	padding: 7px 14px;
	border-radius: 2px;
    background-color: #ec5793;
    font-weight: 700;
    line-height: 22px;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.block_12 .navbar li#active a:hover{
	background-repeat:no-repeat;
	padding: 7px 14px;
	border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    margin: -7px -14px;
}
.block_12 .navbar li#active a{
	color: 	#fff;
	transition: all 0.3s ease;
	float: left;
}
.block_12 .topnav{
	display: none;
}

@media screen and (min-width: 0px) and (max-width: 736px){

h2{
    font-size: 22px;
}
h3{
    font-size: 12px;
}
h4{
    font-size: 17px;
}

.margin{
	display: block;
	margin: 0px 25px; 
}
.block_11 .head {
	margin-top: 0px;
	margin-bottom: 30px;	
	width: 100%;
	font-size: 22px;
	line-height: 32px;
}
.block_11 .mask{
	display: none;
}

.block_11 #i1, #i2, #i3, #i4, #i5{ display: none;}

.block_11 .conteiner{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		text-align: left;
		width: 100%;
		height: auto;
		padding-bottom: 147.1%;
		user-select: none;
		background-color: #f6f6f6;
		border: none;
		border-radius: 4px;
	}

	.block_11 .conteiner .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.block_11 .container .slide_img .content{
		width: inherit;
		height: inherit;
	}
	.block_11 .content {
		margin:35px 25px 0px;
	}
	.block_11 .content h2{
		line-height: 29px;
	}
	.block_11 .content h4{
		line-height: 25px;
		margin-top: 25px;
	}

	.block_11  .prev, .next{
		width: 17%;
		height: inherit;
		position: absolute;
		top:0;
		background-color: rgba(88, 88, 88,.0);
		color: rgba(244, 244, 244,.0);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.block_11 .next{
		right:0;
		margin-right: -25px;
	}
	.block_11 .prev{
		left:0;
		margin-left: -25px;
	}

	.block_11 label span{
		position: absolute;
		font-size: 32px;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.block_11 .prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.0);
		color: #ffffff; 
	}

.block_11 .conteiner #nav_slide{
	width: 100%;
	margin-bottom: -80px;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

.block_11 #nav_slide .dots{
	top: -5px;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #d2d2d2;
	transition: .4s;
}

.block_11 #nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.block_11 .slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3
	{background-color: #ff5790;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

/* .yt{
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	width: 150px;
	height:50px;
	border: outset #2c2c2c 4px;
	border-radius: 10px;
	text-align: center;
	font-size: 30pt;
	transition: .5s;
}

.yt a{
	text-decoration: none;
	color: #4c4c4c;
	transition: .5s;
}

.yt:hover{
	background: #4c4c4c;
	transition: .3s;
}

.yt:hover a{
	color: #fff;
	transition: .3s;
}
 */	
	
label span { font-size: 50pt; }

.block_11 .me{ display: none;}
.block_11 .note{
	display: flex;
	align-items:center;
	text-align: center;
	background-color: #f6f6f6;
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}
.block_11 .note h2{
	font-size: 17px;
	max-width: 85%;
	line-height: 25px;
	margin: 40px auto 35px;
}
.block_11 .black{
	margin-bottom: -192px;
	background-color: rgba(255,255,255,0);
}
.block_11 .black img.icon {
    width: 140px;
    margin-top: -69px;
}
.block_11 .black h4 {
    max-width: 85%;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    margin-top: 26px;
}
.block_11 .black button {
    margin-top: 1px;
}
.block_11 .black button a{
    font-weight: 700;
    line-height: 32px;
    font-size: 19px;
    color: #fff;
}
.block_11 .black button img.line{
	margin-top: 0;
    width: 272px;
    height: 4px;
}
.block_12{
  background: #2f5483 url("../img/block_12/mobile/7@2x.png") no-repeat center top / cover;
  height: auto; 
}
.block_12 .content{
	margin-left: auto;
}


.block_12 h2.numb1{
	font-size: 19px;
    line-height: 29px;
    margin-top: 201.3%;
    margin-bottom: 20px;
}
.block_12 h2.numb1 br{
	display: none;
}
.block_12 .numb2 a{
	text-decoration: none;
    -webkit-text-fill-color: initial;
    color: #ff5790;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
}
.block_12 .tel {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    line-height: 25px;
    color: #fff;
    opacity: 0.8;
}

.block_12 .line{
  display: none;
}
.block_12 .conteiner{
  display: none;
}
.block_12 .manual{
  display: none;
}
.block_12 .contacts{
  flex-direction: column;
  -ms-align-items: end;
  align-items: end;
}
.block_12 .navbar{
  display: none;
}
.block_12 .backbar{
  position: relative;
  margin-top: 50px;
  height: 100%;
  margin-bottom: -5px;
  padding-bottom: 2px;
  border-top: solid 0.5px rgba(255,255,255,0.2);
  background: #000;
  width: 100%;
}
.block_12 .topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-image: #000;
  left: 3.5%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 93%;
}
.block_12 ul.topnav li{
  list-style-type: none;
}
.block_12 ul.topnav li a{
	font-size: 0;
}
.block_12 ul.topnav .logo{
  width: 26px;
  height: 28px;
}
.block_12 ul.topnav li.menu{
  width: 48px;
  height: 48px;
}
.block_12 ul.topnav li ul{
    list-style-type: none;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    height: 340.8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    transition: all 0.5s ease;
    margin-top: -24.5rem;
    background: rgba(0,0,0,1);

}
.block_12 ul.topnav li.menu ul li a{
  color: #fff;
  font-weight: 700;
  line-height: 1.47;
  font-size: 15px;
  padding: 10px 15px;
  background-repeat:no-repeat;
  margin: 7px 14px;
  transition: all 0.5s ease;
    
}
.block_12 ul.topnav li.menu:hover > ul,
.block_12 ul.topnav li.menu ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 0;
}
.block_12 ul.topnav li.menu ul li {
    clear: both;
    padding: 10px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin-top: 0px;  
    transition: all 0.5s ease;
}
.block_12 ul.topnav li.menu ul li#active:hover{
    background-repeat: no-repeat;
    padding: 10px 15px;
    border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline: none;  
}
.block_12 .topnav li.active {
  background-repeat: no-repeat;
    padding: 10px 15px;
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline: none;  
    background-color: #ec5793;
    color: #fff;
}
.block_12 .head img.key {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    max-width: 16.9px;
    max-height: 7.1px;
    margin-right: 8.1px;
}
}