body {
	font-family: 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
}
div, p, a, form, button{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul, li{
	box-sizing: border-box;
}

h2{
	font-weight: 700;
	margin: 0;
	font-size: 32px;	
}
h3{
	font-weight: 700;
	margin: 0;
	font-size: 20px;
}
h4{
	font-weight: 400;
	margin: 0;
	font-size: 17px;
}
h5{
	font-weight: 400;	
	margin: 0;	
}

.block_10{
	display: flex;
	flex-direction: column;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
}
.block_10 .icon{
	margin-top: 200px;
	margin-bottom: 12px;
}
.block_10 .answer a{
	text-decoration: none;
	background-image: linear-gradient(to right, #f89865, #ef578f 57%, #d557b0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #444;
}
.block_10 h2.head {
	margin-bottom: 71px;
	color: #444444;
	line-height: 42px;
}
.block_10 h2.head a{
	text-decoration: none;
    background-image: linear-gradient(to right, #f89865, #ef578f 57%, #d557b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #444;
}
.block_10 .conteiner{
	text-align: left;
    background-color: #fff;
    height: auto;
    margin:0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 700px;
}
.block_10 ul{
	list-style-type: none;
}
.block_10 .ask{
	margin:10px 0px;
	width: 700px;	
	border-radius: 2px;
	border: 1px solid #ebebeb;
}
.block_10 .ask img{
	width: 28px;
	height: 28px;
	margin: 20px 30px 20px 20px;
    float: left;
}
.block_10 .ask h2{
	width: 592px;	
	font-size: 19px;	
	line-height: 29px;	
	color: #444;
	margin: 18px 0px 20px 0px;
}
.block_10 .answer_txt {
	display: none;
	transition: max-height 5s;
}
.block_10 .answer_txt a{
	text-decoration: none;
	color: #232323;
}
.block_10 .answer_txt h4{
	width: 592px;	
	font-size: 17px;	
	line-height: 25px;
	margin: 8px 0px 38px 78px;
}
.block_10 .answer_txt h4 .cell_us{
color: #ff5790;
border-bottom: 1.5px solid;
}
.block_10 .answer_txt:target{
	display: block;
	max-height: 30rem;
}
.block_10 .ask:hover{	
	border-radius: 2px;
	background: #f6f6f6;
	border: none;
	padding: 1px;
}
.block_10 .detailed{
	display: none;
}
.block_10 .conteiner .asked a h2{
	font-family: 'Exo 2', sans-serif;
	color: #fff;
    line-height: 22px;
    font-size: 18px;
}
.block_10 .conteiner .asked a{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
	background-repeat:no-repeat;
	padding: 18px 0px 20px;
	border-radius: 2px 2px 0px 0px;
    background-color: #2c2c2c;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.block_10 .asked img{
	margin: 0px 30px 0px 20px;
    float: left;
}
.block_10 .conteiner .asked{
	background: none;
	border: none;
	width: 100%;
	border-radius: 2px;
	padding:0px 0px 4px;
	box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ffc846, #ef578f 57%, #c057cb);
    margin-bottom: 180px;
}

@media screen and (min-width: 0px) and (max-width: 736px){

h2{
    font-size: 22px;
}
h3{
    font-size: 12px;
}
h4{
    font-size: 17px;
}

.block_10 .icon{
	margin-top: 80px;
	margin-bottom: 20px;
}
.block_10 h2.head {
	margin-bottom: 20px;
	line-height: 32px;
}
.block_10 .conteiner{
    width: 100%;
}
.block_10 .ask{
	width: 100%;
}
.block_10 .screen{
	display: none;
}
.block_10 .ask img{
	margin: 20px 30px 30px 20px;
}
.block_10 .ask .margin{
	margin-left: 6.5rem;
}
.block_10 .ask h2{
	font-size: 19px;
	line-height: 29px;
	width: 100%;	
	margin-left: -25px;
}
.block_10 .answer_txt h4{
	width: 75%;
}
.block_10 .detailed {
	display: block;
	border: none;
	background: none;
	margin:20px auto 80px;
}
.block_10 .detailed a{
	display: block;
	text-decoration: none;
    background: none;
    color: #ff5790;
    border-bottom: solid 0.5px #ff5790;
}
.block_10 .answer_txt:target{
	max-height: 60rem;
}
}