body {
	font-family: 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 15px;
	color: #000;
	height: 100vh;
    min-height: 820px;
    transform: scale(1);
}
div, p, a, form, button{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul, li{
	box-sizing: border-box;
}
h2{
  font-size: 32px;
  font-weight: 800;
  color: #ffe922;
  line-height: 2px;
  letter-spacing: normal;
}
.header{
	background: #0a0224 url("../img/typeawaynumerodos-3@3x.jpg" ) no-repeat center top / cover;
	color: #fff;
	height: 130%;	
	-webkit-background-size: cover;
	background-size: cover;
	transition: all 2s ease;
}
.header:hover{
	background: #0a0224 url("../img/typeawaynumerodos-3@3x.jpg" ) no-repeat center top / cover;
	height: 100%;
}
.gradient{
	width: 100%;
	max-width:5000px;
    height: 160px;
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.19) 69%, rgba(0, 0, 0, 0.06) 84%, rgba(0, 0, 0, 0));
}
.rectangle{
	width: 100%;
	max-width: 5000px;
	height: 100%;
 	background-color: rgba(0, 0, 0, 0.65);
}
.conteiner{
	width: 90%;
	max-width: 980px;
	margin: 0 auto;
}
.space{
	height: 22.5px;
	width: 100%;
	margin-top: -160px;	
}
.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo span{
	width: 100%;
	max-width: 280px;
	line-height: 1.47;
	font-weight:500;
	margin-left: 39px;
}
.creazard{
   width: 126px;
   height: 55px;
   object-fit: contain;
   padding-left: 0;
}
.key{
   width: 19px;
   height: 8px;
   object-fit: contain;
}
.manual{
	text-align: right;
	margin-right: 25px;
}
.manual a{
	text-decoration: none;
	text-align: right;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.contacts{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.manual article{
	margin-top: 5px;	
	opacity: 0.65;
}
.firstbtn{
	font-family: 'Exo 2', sans-serif;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid 2px #fcd644;
    border-radius: 2px;
    padding: 9.2px 19.65px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    transition: all 0.5s ease;
    }
.firstbtn:hover{
	font-family: 'Exo 2', sans-serif;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid 2px #ec5793;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    }
.line{
    border-bottom: 1px solid;
	color: #fff;
	opacity: 0.3;
	width: 100%;
	max-width: 5000px;
	margin-top: 22.5px;
    }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    margin-top: 17px;
    max-width: 926px;
    width: 90%;
}
.navbar li{
	font-weight: 700;
	line-height: 1.47;
 	font-size: 	15px;
}
.navbar li.active a {
	background-repeat:no-repeat;
	padding: 7px 14px;
	border-radius: 2px;
    background-color: #ec5793;
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.navbar li#active a:hover{
	background-repeat:no-repeat;
	padding: 7px 14px;
	border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    margin: -7px -14px;
}
.navbar li#active a{
	color: 	#fff;
	transition: all 0.3s ease;
	float: left;
}
.topnav{
	display: none;
}
.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
}
.stars{
	margin-top: 109px;
	width: 150px;
	height: 27px;	
}
.offer span{
  font-size: 32px;
  font-weight: 800;
  margin-top: 17px;
}
#offer{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 180px;
	margin:93px 25px 0px 25px;
}
.of_us{
	display: flex;
    justify-content: space-between;
    align-items: center;	
}
.button{
	background: none;
	border: none;
	margin-top: 105px;
	outline:none; 
}
#gradient{
    object-fit: contain;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    float: left;
    margin-left: 7px;	
}
#gradient:hover{
	width: 375px;
	height: 126px;
	transform: uppercase;
    cursor: pointer;
    margin: -5px;
    overflow: hidden;
    outline:none;
    margin-left: 3.5px;	
}
.markets{
   width: 71px;
   height: 25px;
   object-fit: contain;
   margin-top: -8px;
}

@media screen and (min-width: 805px) and (max-width: 1001px){
.header{
	background: #0a0224 url("../img/typeawaynumerodos-3@3x.png") no-repeat center top / cover;
	height: 100%;
	min-height: 950px;
}
.rectangle{
	height: 100%;
  	min-height: 950px;
 }
.logo{
	flex-direction: column;
}
.logocreazard{
	margin-left: -142px;
	width: 110px;
	margin-bottom: 10px;
}
.logo span{
	margin-left: 25px;
}
.contacts{
	flex-direction: column;
}
.firstbtn{
	margin-top: 13px;
	margin-left: 22px;
	padding: 10px 20px;
}
.firstbtn:hover{
    margin-top: 13px;
	margin-left: 22px;
    }
.conteiner{
	width: 95%;
}
.of_us{
	margin-top: 95px;
	width: 90%;
	max-width: 800px;
}
#offer{
	margin: auto;
}
}
@media screen and (min-width: 324px) and (max-width: 805px){
.header{
	background: #0a0224 url("../img/typeawaynumerodos-3.png") no-repeat center top / cover;
	height: auto;	
    background-attachment: fixed, scroll;
}
.rectangle{
	height: 100vh;
  	min-height: 1280px;
 }
 .conteiner{
	width: 96%;
	max-width: 980px;
	margin: 0 auto;
}
.logo{
	flex-direction: column;
}
.logocreazard{
	margin-left: -162px;
	width: 90px;
	margin-bottom: 10px;
}
.logo span{
	margin-left: 25px;
}
.contacts{
	flex-direction: column;
}
.firstbtn{
	margin-top: 13px;
	margin-left: 36px;
	padding: 7px 14px;
}
.firstbtn:hover{
    margin-top: 13px;
	margin-left: 36px;
    }
.navbar{
	display: none;
}
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    margin-top: 17px;
    max-width: 926px;
    width: 85%;
}
.topnav li{
	font-weight: 700;
	line-height: 1.47;
 	font-size: 	15px;
 	margin-top: 15px;	
}
.topnav li.active a {
	background-repeat:no-repeat;
	padding: 7px 14px;
	border-radius: 2px;
    background-color: #ec5793;
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.topnav li#active a:hover{
	background-repeat:no-repeat;
	padding: 7px 14px;
	border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    margin: -7px -14px;
}
.topnav li#active a{
	color: 	#fff;
	transition: all 0.3s ease;
	float: left;
}
.topbtn{
	display: flex;
	justify-content: space-between;
	align-items: right;
	width: 90%;
	max-width: 170px;
	margin-right: 14px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  margin-top: 0px; 
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn{
	float: left;
	transition: all 0.3s ease;
	margin-top: 6px;
}
.menu-btn:hover{
	background-repeat:no-repeat;
	padding: 15px 29px 15px 9px;
	border-radius: 2px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    overflow: hidden;
    outline:none;
    margin: -9px -29px -15px -9px;
}
ul.topnav li ul{
    list-style-type: none;
    width: 85%;
    visibility: hidden;
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1.5rem;
    background: rgba(0,0,0,0.8);
}
ul.topnav li ul li a{
	color: #fff;
	font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    padding: 15px;
    background-repeat:no-repeat;
	margin: 7px 14px;
	transition: all 0.5s ease;
    
}
ul.topnav li:hover > ul,
ul.topnav li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul.topnav li ul li {
    clear: both;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    margin-top: 0px;	
    transition: all 0.5s ease;

}
ul.topnav li ul li a:hover{
    background-repeat: no-repeat;
    padding: 14px 14px 14px 14px;
    border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 0px;	
}
.of_us{
		flex-direction: column;
}
}
@media screen and (min-width: 374px) and (max-width: 805px){
	.rectangle{
	min-height: 1250px;
	}
	.contacts{
	flex-direction: column;
    align-items: flex-end;
	}
	.firstbtn{
	margin-top: 13px;
    margin-right: 24px;
    padding: 7px 14px;
	}
	.button{
		margin-top: 95px;
	}
	.stars{
		margin-top: 95px;
	}
	.manual a {
    text-decoration: none;
    text-align: right;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}
	.logo{
	flex-direction: column;
    align-items: end;
	}
	.logocreazard{
	margin-left: 26px;
    width: 90px;
    margin-bottom: 10px;
	}
	#offer{
		margin:53px 25px 0px 25px;
	}
}