body {
	font-family: 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
}
div, p, a, form, button{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul, li{
	box-sizing: border-box;
}

h2{
	font-weight: 700;
	margin: 0;
	font-size: 32px;	
}
h3{
	font-weight: 700;
	margin: 0;
	font-size: 20px;
}
h4{
	font-weight: 400;
	margin: 0;
	font-size: 17px;
}
h5{
	font-weight: 400;	
	margin: 0;	
}

.block_5{
	display: flex;
	align-items: center;
	height: 200px;
}
.block_5 button{
	background: none;
	border: none;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; 
	max-width: 360px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 90px;
}
.block_5 button a{
	font-family: 'Exo 2', sans-serif;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #444;
}
.block_5 button img{
    width: 205px;
    margin-top: -1px;
    height: 2px;
}

.line3{
	display: none;
}

.block_6{
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: #f6f6f6; 
}
.block_6 .margin{
	display: flex;
	flex-direction: column;
	margin: 0 auto;	
	align-items: center;	
}
.block_6 h2.head{
	text-align: center;
	margin-top: 200px;	
	color: #444;
	max-width:637px;
	line-height: 42px;		
}
.block_6 h4.head{
	text-align: center;
	margin-top: 37px;
	color: #232323;
	max-width:600px;
	line-height: 25px;
	margin-bottom: 80px;
}
.block_6 main.num1{
	display: flex;
	flex-direction: column;
	padding: 25px;
	align-items:center;
	width: 650px;
	height: auto;
	border-radius: 2px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	text-align: left;
	margin: 0 auto;
}
.block_6 main h4{
	font-size: 17px;
	line-height: 25px;
	width: 556px;
	display: flow-root;
	color: #232323;
}
.block_6 main img.check{
	width: 20px;
	height: 20px;
	margin: 2px 24px 0px 0px;
	float:left;
}
.block_6 .content{
	width: 600px;
	margin-top: 16.8px;			
}
.block_6 .content1{
	margin-top: 50px;
	width: 600px;
}
.block_6 span.payment{
	font-size: 17px;
	line-height: 25px;
	color: #232323;
	/* max-width: 410px; */
	margin-left: 84px;
	align-self: end;
}
.block_6 span.payment h4{
	display: flow-root;
	width: auto;
}
.block_6 span.payment img.dot{
	width: 28px;
    height: 28px;
    float: left;
}
.block_6 .conteiner{
  margin: 30px 0px 50px;
  width: 500px;
  opacity: 0.54;
  margin-left: 44px;
}
.block_6 .conteiner span{
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 25px;
	color: #232323;
	opacity: 0.54;
}
.block_6 main.num2{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 700px;
  height: auto;
  object-fit: contain;
  border-radius: 2px;
  box-shadow: 0 7px 30px 0 rgba(255, 87, 144, 0.3);
  background-image: linear-gradient(to right, #f89865, #ef578f 57%, #d557b0);
}
.block_6 .content2{
	width: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.block_6 .detailed{
	display: none;
}
.block_6 main.num2 h4{
	font-size: 17px;
	line-height: 25px;
	width: 456px;
	float: left;
	color: #fff;
}
.block_6 .button a h2{
	font-family: 'Exo 2', sans-serif;
    line-height: 22px;
    font-size: 18px;
}
.block_6 .button a{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
	background-repeat:no-repeat;
	padding: 15.3px 64px;
	border-radius: 2px 2px 0px 0px;
    background-color: #2c2c2c;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.block_6 .button{
	background: none;
	border: none;
	border-radius: 2px;
	max-width: 280px;
	padding:0px 0px 4px;
	box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ffc846, #ef578f 57%, #c057cb);
    margin-top: 80px;
    margin-bottom: 200px;
}

@media screen and (min-width: 0px) and (max-width: 736px){

h2{
    font-size: 22px;
}
h3{
    font-size: 12px;
}
h4{
    font-size: 17px;
}

.block_5{
	height: auto;
}
.block_5 button{
    margin-top: 21px;
    margin-bottom: 30px;
}
.block_5 button a{
    line-height: 22px;
    font-size: 19px;
}
.block_5 button img{
	margin-top: 2px;
	width: 161px;
	height: 2px;
}

.line3{
	display: block;
	border-bottom: 1px solid;
	color: #000;
	opacity: 0.1;
	width: 100%;
	max-width: 5000px;
}

.block_6{
	background-color: #fff; 
}
.block_6 .margin{
	max-width: 680px;
	margin: 0px 25px;
}
.block_6 h2.head{
	text-align: left;
	color: #444;
	line-height: 32px;
	margin-top: 80px;
	margin-bottom: 0px;
}
.block_6 h4.head{
	text-align: left;
	margin-bottom: 0px;
	margin-top: 25px;
}
.block_6 main.num1{
	display: flex;
	flex-direction: column;
	align-items:center;
	width: 100%;
	max-width: 600px;
	height: auto;
	border-radius: 2px;
	box-shadow: none;
	background-color: #ffffff;
	text-align: left;
	margin: 0 auto;
}
.block_6 main h4{
	white-space: normal;	
}
.block_6 .content{
	display: flex;
	width: 100%;	
}
.block_6 .content1{
	display: flex;
	width: 100%;
}
.block_6 main .screen{
	display: none;
}
.block_6 main.num2{
  display: none;
}
.block_6 span.payment{
	display: none;
}
.block_6 .conteiner{
	display: none;
}
.block_6 main img{
	width: 20px;	
	height: 20px;
	margin:2px 24px 0px 25px;
	float:left;			
}
.block_6 .detailed{
	border: none;
	background:none;
	display: flex;
	padding: 25px 44px 80px;
	width: 100%;
}
.block_6 .detailed a{
	text-decoration: none;
	background:none;
	color: #ff5790;
	border-bottom: solid 0.5px #ff5790;
}
.block_6 .detailed h2{
	font-size: 17px;
	font-weight: 400;
}
.block_6 .button{
	display: none;
}
}
