body {
  font-family: 'Exo 2', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
}
div, p, a, form, button{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul, li{
  box-sizing: border-box;
}
h2{
  font-weight: 700;
  margin: 0;
  font-size: 32px;
}
h3{
  font-weight: 700;
  margin: 0;
  font-size: 20px;
}
h4{
  font-weight: 400;
  margin: 0;
  font-size: 17px;
}
h5{
  font-weight: 400; 
  margin: 0;  
}
.margin{
  display: contents;
}
.header .head h3{
  margin: 0px;
  font-size: 18px;
  color: #fff;
}
.header{
    background: #2f5483 url("../img/block_1/1@3x.jpg" ) no-repeat center top / cover;
  color: #fff;
  height: auto;
  margin:0;
  padding: 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.header .gradient{
  width: 100%;
  max-width:5000px;
    height: 160px;
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.19) 69%, rgba(0, 0, 0, 0.06) 84%, rgba(0, 0, 0, 0));
}
.header .conteiner{
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.header .space{
  height: 22.5px;
  width: 100%;
  margin-top: -160px; 
}
.header .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo span{
  width: 100%;
  font-size: 15px;
  max-width: 280px;
  line-height: 22px;
  margin-left: 39px;
}
.header .creazard{
   width: 126px;
   height: 55px;
   object-fit: contain;
   padding-left: 0;
}
.header .key{
   width: 19px;
   height: 8px;
   object-fit: contain;
}
.header .manual{
  text-align: right;
  margin-right: 25px;
}
.header .manual a{
  text-decoration: none;
  text-align: right;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
}
.header .contacts{
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.header .manual span h4{
  margin-top: 5px;  
  opacity: 0.65;
  font-size: 15px;
}
.header .firstbtn{
  font-family: 'Exo 2', sans-serif;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid 2px #fcd644;
    border-radius: 2px;
    padding: 9.2px 19.65px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    transition: all 0.5s ease;
}
.header .firstbtn:hover{
  font-family: 'Exo 2', sans-serif;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid 2px #ec5793;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}
.header .line{
    border-bottom: 1px solid;
  color: #fff;
  opacity: 0.3;
  width: 100%;
  max-width: 5000px;
  margin-top: 22.5px;
}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    margin-top: 17px;
    max-width: 926px;
    width: 90%;
}
.header .navbar li{
  font-weight: 700;
  line-height: 22px;
  font-size:  15px;
}
.header .navbar li.active a {
  background-repeat:no-repeat;
  padding: 7px 14px;
  border-radius: 2px;
    background-color: #ec5793;
    font-weight: 700;
    line-height: 22px;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}
.header .navbar li#active a:hover{
  background-repeat:no-repeat;
  padding: 7px 14px;
  border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    margin: -7px -14px;
}
.header .navbar li#active a{
  color:  #fff;
  transition: all 0.3s ease;
  float: left;
}
.header .topnav{
  display: none;
}
.header .offer {
  flex-direction: column;
  align-items: end;
  text-align: left;
  width: 100%;
  max-width: 410px;
  margin-left: 16%;
  right: auto;
}
.header .head{
  margin-top: 153px;
  display: flex;
}
.header .head img.key {
  width: 100%;
  height: 100%;
  margin-top: 6px;
  max-width: 24px;
  max-height: 10px;
  margin-right: 15px;
}
.header .offer h3{
  font-size: 18px;
  margin-bottom: 21px;
}
.header .offer button{
  background: none;
  border: none;
}
.header .offer .buttons{
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  max-width:116.8px;
  margin-top: 30px;
}
.header .offer .android img{
  width: 40px;
  height: 40px;
}
.header .offer .ios img{
  width: 33.3px;  
  height: 33.3px;  
}
.header .offer .buy{
  border-radius: 2px;
  margin-left: -35px;
  margin-top: 48.5px;
  margin-bottom: 112px;
}
.header .offer img.button{
  width: 320px;
  height: 116px;
}
.header .offer h2{
  max-width: 410px;
  font-weight: 800;
  line-height: 52px;
  font-size: 42px;
}

@media screen and (min-width: 0px) and (max-width: 736px){
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 12px;
  }
  h4{
    font-size: 17px;
  }

.header{
  background: #2f5483 url("../img/block_1/mobile/1@2x.png") no-repeat center top / cover;
  height: 859px; 
}
.header .gradient{
  display: none;
}
.header .line{
  display: none;
}
.header .conteiner{
  display: none;
}
.header .manual{
  display: none;
}
.header .contacts{
  flex-direction: column;
  -ms-align-items: end;
  align-items: end;
}
.header .navbar{
  display: none;
}
.header .backbar{
  position: absolute;
  top: 0;
  height: 48px;
  background:#000;
  width: 100%;
}
.header .topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: #000;
  left: 3.5%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 93%;
}
.header ul.topnav li{
  list-style-type: none;
}
.header ul.topnav .logo{
  width: 26px;
  height: 28px;
}
.header ul.topnav li.menu{
  width: 48px;
  height: 48px;
}
.header ul.topnav li ul{
    list-style-type: none;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    transition: all 0.5s ease;
    margin-top: -0.4rem;
    background: rgba(0,0,0,1);

}
.header ul.topnav li.menu ul li a{
  color: #fff;
  font-weight: 700;
  line-height: 1.47;
  font-size: 15px;
  padding: 10px 15px;
  background-repeat:no-repeat;
  margin: 7px 14px;
  transition: all 0.5s ease;
    
}
.header ul.topnav li.menu:hover > ul,
.header ul.topnav li.menu ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 0;
}
.header ul.topnav li.menu ul li {
    clear: both;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin-top: 0px;  
    transition: all 0.5s ease;
}
.header ul.topnav li.menu ul li#active:hover{
    background-repeat: no-repeat;
    padding: 10px 15px;
    border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline: none;  
}
.topnav li.active {
  background-repeat: no-repeat;
    padding: 10px 15px;
    font-weight: 700;
    line-height: 1.47;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    outline: none;  
    background-color: #ec5793;
    color: #fff;
}
.header .head img.key {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    max-width: 16.9px;
    max-height: 7.1px;
    margin-right: 8.1px;
}
.header .offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin-left: 0;
}
.header .offer h3 {
    font-size: 12px;
    margin-bottom: 0px;
}
.header .offer h2{
  line-height: 32px;
  font-size: 22px;
}
.header .head{
  margin-top: 86px;
  margin-left: -11px;
}
.header span{
  max-width: 325px;
  margin-top: 22px;
}
.header .offer .android img{
  width: 30px;
  height: 30px;
}
.header .offer .ios img{
  width: 25px;  
  height: 25px;  
}
.header .offer .buy{
  background: none;
  border: none;
  margin: 15px 0px 0px;
  border-radius: 2px;
}
.header .offer img.buy{
  width: 276px;
  height: 100px;
}
}
